body{
    font-family: Arial, Helvetica, sans-serif;
}

.wrapper{
    width: 960px;
    margin: 0 auto;
}

h1{
    /* color: aquamarine; */
    /* color: darkcyan; */
    /* margin: 0 auto; */
    color: deepskyblue;
}

header{
    overflow: hidden;
}

img{
    /* width: 30%; */
    /* transform: scale(0.5); */
    float: right;
    height: 100%;
    width: 300px;
    transform: rotate(90deg);
}